# Your Sentry Data Source Name (DSN)
# See https://docs.sentry.io/product/sentry-basics/dsn-explainer/
# e.g. https://your@dsn.ingest.sentry.io/here
SENTRY_DSN=${SENTRY_DSN}

# The environment tag to associate with sentry entries
# See https://docs.sentry.io/product/sentry-basics/environments/
# e.g. localhost
SENTRY_ENVIRONMENT=${SENTRY_ENVIRONMENT}
